
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-header{
  .findby{
    &__input-group{
      min-width: 250px;
      max-width: 500px;
      margin-top: 10px;
    }
  }
}

.notes{
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 100%;
}
